@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  padding: 0;
}

body {
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 20vh;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: black;
  color:#efefef; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.88;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.add-form {
  display: flex;
  flex-direction: row;
  width: inherit;
  padding-bottom: 1vh;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  width: 52%;
  justify-content: space-between;
}

input[type=text], select, input[type=submit]{
    clear:both;
    float:left;
    margin:0;
    border:0;
    padding:5px 9px;
    font-size:12px;
    border-radius: 3px;
}

input[type=text], select {
  background:#efefef;
}

input[type=submit] {
  background: black;
  color: #efefef;
}


